div .titulo{/*variaveis fora de div nao recebem as propriedades*/
    color:#0066cc;
    font: helvetica,sans-serif;
    font-size:50px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: normal;
    text-decoration: none;
   
}
div{
    background-color: aquamarine;
}
.texto{
    color: rgb(76, 143, 209);
}
#idUm{
    background-color: aquamarine;
}
button{
    background-color: blue;
    border:5px dashed blueviolet;
    border-radius: 100%;
    width:10%;
    transition: 5s;
    max-width: 33%;
    min-width: 10%;
    height: 70px;
    right: 80px;
}
button:hover{
    background-color: black;
    transition: 5s;
    width: 50%;
    color: bisque;
    transform:rotate(360deg);
    
}
.container{
    margin: 0 auto;
    max-width: x;
    width: 100%;
}
img{
    max-width: 150px;
    /*position: absolute;
    treinar fixed,absolute,fixed,sticky*/
    position: fixed;
}